<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>Document</title>
    <script>
        var counter = 0
        $(document).ready(function () {
            let queryString = window.location.search
            //console.log(queryString)
            let name = new URLSearchParams(queryString).get('data')
            //console.log(name)
            if (name) { } else { name = "anonymous" }
            $("#show_name").append(name)
            load_initial_image()
            $("#dropped").hide()
            $("#chosen").hide()
        })

        function terminating(res) {
            let formData = new FormData()
            formData.append("user_name", $('#show_name').text())
            formData.append("chosen_name", res)

            fetch('/results', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                console.log(data)
                alert(data["msg"])
                window.location.href = "/"
            })
        }

        function call_autosave(event) {
            let click = event.currentTarget
            let dropped_alt = ""
            let dropped_id = ""

            if (click.id == "image_left") {
                dropped_alt = $('#image_right').attr('alt')
                dropped_id = $('#image_right').attr('id')
            } else {
                dropped_alt = $('#image_left').attr('alt')
                dropped_id = $('#image_left').attr('id')
            }

            let formData = new FormData()
            let chosen = $('#chosen').text()
            let dropped = $('#dropped').text()
            formData.append("new_chosen", click.alt)
            formData.append("new_dropped", dropped_alt)
            formData.append("chosen", chosen)
            formData.append("dropped", dropped)

            fetch('/autosave', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                //console.log(data)
                // 선택, 비선택, 이전 비선택 업데이트
                $('#dropped').empty()
                $('#chosen').empty()

                $('#dropped').append(data["dropped"])
                $('#chosen').append(data["chosen"])

                let msg = data["msg"]
                console.log(msg)
                console.log(data["chosen"])
                if (msg == "done") {
                    $("#battle_image").hide()
                    terminating(data["chosen"])
                } else if (msg != "playing") {
                    alert(msg)
                }

                let candidate = data["candidate"]
                name_list = Object.keys(candidate)
                let img1_name = name_list[0]
                let img1_url = candidate[name_list[0]]
                let img2_name = name_list[1]
                let img2_url = candidate[name_list[1]]

                $('#battle_image').empty()
                let battle_html = `
                <tr>
                    <td id="image_box">
                        <img id="image_left" onclick=call_autosave(event) src="${img1_url}" alt="${img1_name}" width="300">
                    </td>
                    <td id="image_box">
                        <img id="image_right" onclick=call_autosave(event) src="${img2_url}" alt="${img2_name}" width="300">
                    </td>
                </tr>
                <tr>
                    <td id="name_box">
                        <div id="name_left">${img1_name}</div>
                    </td>
                    <td id="name_box">
                        <div id="name_right">${img2_name}</div>
                    </td>
                </td>
                `
                $('#battle_image').append(battle_html)
            })
        }

        function load_initial_image() {
            fetch('/autosave').then((res) => res.json()).then((data) => {
                //console.log(data)
                //console.log(Object.keys(data))
                name_list = Object.keys(data)

                let img1_name = name_list[0]
                let img1_url = data[name_list[0]]
                let img2_name = name_list[1]
                let img2_url = data[name_list[1]]
                //console.log(img1_name, img1_url, img2_name, img2_url)

                let battle_html = `
                <tr>
                    <td id="image_box">
                        <img id="image_left" onclick=call_autosave(event) src="${img1_url}" alt="${img1_name}" width="300">
                    </td>
                    <td id="image_box">
                        <img id="image_right" onclick=call_autosave(event) src="${img2_url}" alt="${img2_name}" width="300">
                    </td>
                </tr>
                <tr>
                    <td id="name_box">
                        <div id="name_left">${img1_name}</div>
                    </td>
                    <td id="name_box">
                        <div id="name_right">${img2_name}</div>
                    </td>
                </td>
                `
                $('#battle_image').append(battle_html)
            })
        }

    </script>
</head>

<body>
    welcome to world cup!
    <button onclick="location.href='index.html'">back to home</button>
    <a href="/"><button>back to home</button></a>
    <div id="show_name"></div>
    <div id="battle_image"></div>
    <div id="chosen"></div>
    <div id="dropped"></div>
</body>

</html>